.card {
  display: inline-block;
  background-color: wheat;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin: 30px;
}

.card .fa-spinner {
  font-size: auto;
  position: absolute;
  left: 25%;
  top: 25%;
}
